@import '../../../../../mixins';
@import '../../../../../variables';

.configure{
    border: 1px solid $border;
    border-radius: 5px;
}
.content{
    background-color: $light;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding-bottom: 20px;
    &-header{
        background-color: #eeeeee;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 25px;
        font-size: $text-xl;
        font-weight: 500;
    }
}
.configure-toggle{
    border: 1px solid $border;
}