<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading">
            <h2>Add Zonal Distributor</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a>Home</a></li>
                  <li class="breadcrumb-item active">Add Zonal Distributor</li>
                </ol>
              </nav>
        </div>
        <div class="col-md-12 content">
            <div class="row">
                <div class="content-header col-md-12">
                    Filter
                </div>
            </div>
                    <div class="row m-0 mt-3">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Region</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Employee 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Attendance Latitude</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Attendance Longitude</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Attendance Radius* (In Meter)</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Attendance Site Away Alert Distance</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column" >
                            <label class="label">Employee</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Employee 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Selected Employee</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Employee 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Send SMS to Concern Person</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Employee 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Remarks</label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Submit</button>
                        </div>
                    </div>
        </div>
    </div>
</div>