<div class="auth-bg">
    <img src="assets/images/curve.svg" alt="curve">
</div>
<div class="container container--auth">
        <div class="row align-items-center">
            <div class="col-md-6 login-form-col">
                <div class="transparent-bg login-form mb-4">
                    <div class="login-wrap">
                        <div class="logo d-flex justify-content-center">
                            <img src="assets/images/logo.png" alt="">
                        </div>
                        <h2>Login</h2>
                        <p>Please login to your account</p>
                        <form>
                           <div class="mb-2">
                            <label>User Name</label>
                            <div class="form-group d-flex position-relative">
                                <img src="assets/images/user.svg">
                                <input type="text" class="form-control">
                            </div>
                           </div>
                            <div>
                                <label>Password</label>
                            <div class="form-group d-flex position-relative">
                                <img src="assets/images/padlock.svg">
                                <input type="password" class="form-control">
                            </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <input type="checkbox" name="" id="remember">
                                <label for="remember" class="remember">Remember me</label>
                            </div>
                            <button class="btn login-btn w-100" (click)="toLogin()">LOGIN</button>
                        </form>
                    </div>
                </div>
                <div class="transparent-bg support d-flex align-items-center">
                    <div class="support__img">
                        <img src="assets/images/customer-support.svg" alt="">
                    </div>
                    <div class="support__content">
                        <h4>Trouble login in ?</h4>
                        <p class="mb-0">Contact customer support</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 login-slider-col">
                <div class="slider">
                    <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig">
                    <div ngxSlickItem>
                        <div class="slider-section">
                        <img src="assets/images/slider-img-1.svg" alt="">
                        <h2>Friendly Dashboard</h2>
                        <p>The all new designed dashboard lets you enjoy all features on the go</p>
                    </div>
                    </div>
                    <div ngxSlickItem>
                        <div class="slider-section">
                        <img src="assets/images/slider-img-2.svg" alt="">
                        <h2>Employee Self Service</h2>
                        <p>Introduced new ESS portal to manage day to day expenses and reimbursement</p>
                    </div>
                    </div>
                    <div ngxSlickItem>
                        <div class="slider-section">
                        <img src="assets/images/slider-img-3.svg" alt="">
                        <h2>Interactive location markers</h2>
                        <p>Now visit your vendors with all new map guidance with voice alerts</p>
                    </div>
                    </div>
                    <div ngxSlickItem>
                        <div class="slider-section">
                        <img src="assets/images/slider-img-4.svg" alt="">
                        <h2>Hassle-Free Scheme Management</h2>
                        <p>Get all scheme details on the go and see the earned benefits on real time</p>
                    </div>
                    </div>
                </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>