<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>Add Branch</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">Add Branch</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Add Branch</h4>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Region<span class="mandatory">*</span></label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            East
                          </mat-option>
                          <mat-option value="Employee 2">
                            West
                          </mat-option>
                          <mat-option value="Employee 1">
                            North
                          </mat-option>
                          <mat-option value="Employee 2">
                            South
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Branch Name<span class="mandatory">*</span></label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Branch Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Branch Code<span class="mandatory">*</span></label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Branch Code">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">City</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="City">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Pin Code</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Pin Code">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">State</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="State">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Telephone</label>
                            <div class="row">
                                <div class="col-md-4 pe-0">
                                    <mat-form-field class="example-full-width"  appearance="outline">
                                        <input matInput placeholder="STD">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width"  appearance="outline">
                                        <input matInput placeholder="Phone">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Email ID</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Email Id">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Branch Head</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Branch Head">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column">
                            <label class="label">Address</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Address">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex flex-column">
                            <label class="label">Remarks</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Remarks">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">GPS Coordinates</label>
                            <div class="d-flex" style="gap: 20px;">
                                <mat-form-field class="example-full-width"  appearance="outline">
                                    <input matInput placeholder="Latitude">
                                </mat-form-field>
                                <mat-form-field class="example-full-width"  appearance="outline">
                                    <input matInput placeholder="Longitude">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Status<span class="mandatory">*</span></label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Active
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Inactive
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Add Branch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>