<div class="card p-3 w-100 d-flex flex-row align-items-center justify-content-between">
    <p class="text-sm mb-0">{{heading}}</p>
    <div class="slide-wrapper">
        <input type="checkbox" checked="true" name="" (change)="onCheckboxClick($event)">
        <label class="position-relative">
            <span class="checkbox-status checkbox-status--no" [ngClass]="checkboxVal? '':'hidden'">No</span>
            <span class="checkbox-status checkbox-status--yes" [ngClass]="!checkboxVal? '':'hidden'">Yes</span>
            <div class="slide" [ngClass]="checkboxVal ? 'checked':''"></div>
        </label>
    </div>
</div>