@import '../../../variables';
@import '../../../mixins';
.main-header{
    background-color: $light;
    height: 60px;
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
    z-index: 9;
    position: fixed;
    width: 100%;
    h3{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        margin-left: 10px;
    }
    p{
        margin: 0;
        font-size: 14px;
        margin-right: 10px;
    }
    img{
        cursor: pointer;
    }
    .notification {
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid $light-gray;
        &:not(:last-child) {        
            margin-right: 10px;
        }
    }
}

.main-header {
    &__brand {
        width: 300px;
        padding-left: 20px;
        &--sm {
            width: 68px;
        }
    }
    &__content {
        flex: 2;
        padding-right: 20px;
    }
}

.menu-dropdown {
    position: absolute;
    background: $light;
    width: 220px;
    right: 0;
    top: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%);
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition:0.2s all ease-in-out;
    p {
        padding: 5px 15px;
        margin-top: 10px;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            padding: 10px;
            display: flex;
            align-items: center;
            color: $gray;
            font-size: $text-base;
            i {
                color: $gray;
                font-size: $text-base;
                margin-right: 10px;
            }
            &:hover {
                background: $light-gray;
            }
        }
    }
}

.notification--dropdown {
    // height: 60px;
    &:hover {
        .menu-dropdown {
            transition:0.2s all ease-in-out;
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }
}