<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>Add Targets</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">Add Targets</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Add Targets</h4>
                </div>
                <div class="row m-0 px-1 pt-3">
                    <div class="col-md-3 d-flex flex-column">
                        <label class="label">Employee<span class="mandatory">*</span></label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column">
                        <label class="label">Set Target Month<span class="mandatory">*</span></label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column">
                        <label class="label">Set Target Year<span class="mandatory">*</span></label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0 px-1 pb-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button matRipple class="btn btn-reset me-2">Reset</button>
                        <button matRipple class="btn btn-submit">Total Target</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Target For Zonal Distributor</h4>
                </div>
                <div class="row m-0 px-1 pt-3">
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Zonal Distributor Visits</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Sales</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Collection</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">New Zonal Distributor</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0 px-1 pb-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button matRipple class="btn btn-reset me-2">Reset</button>
                        <button matRipple class="btn btn-submit">Product Sale Count</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Target For Area Distributor</h4>
                </div>
                <div class="row m-0 px-1 pt-3">
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Area Distributor Visits</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Sales</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Collection</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">New Area Distributor</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0 px-1 pb-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button matRipple class="btn btn-reset me-2">Reset</button>
                        <button matRipple class="btn btn-submit">Product Sale Count</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Target For Retailer</h4>
                </div>
                <div class="row m-0 px-1 pt-3">
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Retailer Visits</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Sales</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Projected Collection</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">New Retailer</label>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0 px-1 pb-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button matRipple class="btn btn-reset me-2">Reset</button>
                        <button matRipple class="btn btn-submit">Product Sale Count</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
            <div class="card card--common">
                <div class="row m-0 px-1 pt-3 d-flex justify-content-between">
                    <div class="col-md-3 d-flex flex-column">
                        <label class="label">Status</label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end align-items-center">
                        <button matRipple class="btn btn-submit">Add Target</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



