<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>Add Visit Purpose Category</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">Add Visit Purpose Category</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Add Visit Purpose Category</h4>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Visit purpose category name<span class="mandatory">*</span></label>
                    <mat-form-field class="example-full-width"  appearance="outline">
                        <input matInput placeholder="">
                    </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Associate with order product<span class="mandatory">*</span></label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Yes
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    No
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 d-flex flex-column">
                            <label class="label">View visit purpose category team wise<span class="mandatory">*</span></label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Select visits feedback form</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Feedback 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Feedback 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 d-flex flex-column">
                            <label class="label">Select the input form</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Status<span class="mandatory">*</span></label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Active
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Inactive
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>