<div class="view-profile position-relative">
    <i class="material-icons close-dialog" (click)="close()">close</i>
    <div class="view-profile__left">
        <div class="view-profile__top">
            <ul>
                <li>
                    <span>Present:</span>
                    <p>10:15 AM</p>
                </li>
                <li class="red">
                    <div>
                        <span>Reported Late:</span>
                        <p>45 Mins</p>
                    </div>
                    <div class="battery">
                        <img src="assets/images/battery.svg" alt="">
                        <label>80%</label>
                    </div>
                </li>
                <li class="red">
                    <p>10:15 AM 12 Hrs 54 Mins ago</p>
                </li>
            </ul>
        </div>
        
        <div class="profile-name-strip">
            <h3>A. Preetham</h3>
            <span>(FOS)</span>
        </div>
        <ul class="list-items">
            <li class="list-item">
                <span>Employee Id</span>
                <p>FOS1869</p>
            </li>  
            <li class="list-item">
                <span>Region</span>
                <p>South</p>
            </li>  
            <li class="list-item">
                <span>Mobile</span>
                <p>9999999999</p>
            </li>  
            <li class="list-item">
                <span>Email</span>
                <p>XXXXXXXXXXX@gmail.com</p>
            </li>  
            <li class="list-item">
                <span>Visit - 24 March 2023</span>
                <p>No Visit</p>
            </li>  
            <li class="list-item">
                <span>Orders</span>
                <p>No Orders</p>
            </li>  
            <li class="list-item">
                <span>App Version</span>
                <p>2.3.5</p>
            </li>  
            <li class="list-item">
                <span>App Build Date</span>
                <p>23 Feb 2023</p>
            </li>  
            <li class="list-item d-flex align-items-start flex-column">
                <span class="d-flex w-100">Model</span>
                <p>Nokia XR20 <img src="assets/images/nokia.png" alt="" width="65" class="ms-1"></p>
            </li>  
        </ul>
    </div>
    <div class="view-profile__right">
        <div class="top-right-box"></div>
        <div class="profile-section">
            <div class="profile-thumb-parent">
                <div class="profile-thumb-child">
                    <img src="assets/images/user.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>