<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>View Area Distributor List</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">View Area Distributor List</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 p-0">
          <div class="card card--common">
              <div class="card__title">
                  <h4 class="mb-0">Filter</h4>
              </div>
              <div class="card__body">
              <div class="row">
                  <div class="inp-1-of-5">
                      <label class="label">Region</label>
                      <mat-form-field appearance="outline">
                          <mat-select>
                            <mat-option value="Employee 1">
                              East
                            </mat-option>
                            <mat-option value="Employee 2">
                              West
                            </mat-option>
                            <mat-option value="Employee 1">
                              South
                            </mat-option>
                            <mat-option value="Employee 2">
                              North
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="inp-1-of-5">
                      <label class="label">Branch</label>
                      <mat-form-field appearance="outline">
                          <mat-select>
                            <mat-option value="Employee 1">
                              Gurgaon
                            </mat-option>
                            <mat-option value="Employee 2">
                              Faridabad
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="inp-1-of-5">
                      <label class="label">Area</label>
                      <mat-form-field appearance="outline">
                          <mat-select>
                            <mat-option value="Employee 1">
                              Faridabad
                            </mat-option>
                            <mat-option value="Employee 2">
                              Gurgaon
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="inp-1-of-5">
                      <label class="label">Name</label>
                          <mat-form-field class="example-full-width"  appearance="outline">
                              <input matInput placeholder="">
                          </mat-form-field>
                  </div>
                  <div class="inp-1-of-5">
                      <label class="label">Code</label>
                          <mat-form-field class="example-full-width"  appearance="outline">
                              <input matInput placeholder="">
                          </mat-form-field>
                  </div>
                  <div class="inp-1-of-5">
                      <label class="label">Email ID</label>
                          <mat-form-field class="example-full-width"  appearance="outline">
                              <input matInput placeholder="">
                          </mat-form-field>
                  </div>
                  <div class="inp-1-of-5">
                      <label class="label">Mobile Number</label>
                          <mat-form-field class="example-full-width"  appearance="outline">
                              <input matInput placeholder="">
                          </mat-form-field>
                  </div>
                  <div class="inp-1-of-5">
                    <label class="label">Area Distributor</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Self Created
                          </mat-option>
                          <mat-option value="Employee 2">
                            Assign Only
                          </mat-option>
                          <mat-option value="Employee 2">
                            Both
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">GPS Tagging</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            All
                          </mat-option>
                          <mat-option value="Employee 2">
                            With GPS
                          </mat-option>
                          <mat-option value="Employee 2">
                            Without GPS
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Created on</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Today
                          </mat-option>
                          <mat-option value="Employee 2">
                            Last 7 Days
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Last Visit</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            In
                          </mat-option>
                          <mat-option value="Employee 2">
                            Not In
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Days</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Sunday
                          </mat-option>
                          <mat-option value="Employee 2">
                            Monday
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Moved From</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Zonal Distributor
                          </mat-option>
                          <mat-option value="Employee 2">
                            Retailer
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Teams</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            East Day Track Team
                          </mat-option>
                          <mat-option value="Employee 2">
                            West Day Track Team
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Employee</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Employee 1
                          </mat-option>
                          <mat-option value="Employee 2">
                            Employee 2
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">City</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Gurgaon
                          </mat-option>
                          <mat-option value="Employee 2">
                            Faridabad
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Search For Blank</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Blank With Mobile
                          </mat-option>
                          <mat-option value="Employee 2">
                            Blank With Email Id
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Sub Category</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Sub Category 1
                          </mat-option>
                          <mat-option value="Employee 2">
                            Sub Category 2
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Category</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Category 1
                          </mat-option>
                          <mat-option value="Employee 2">
                            Category 2
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Validity Expires In</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            7 Days
                          </mat-option>
                          <mat-option value="Employee 2">
                            15 Days
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Linked With Zonal Distributor
                    </label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Bajaj Electronics
                          </mat-option>
                          <mat-option value="Employee 2">
                            Jay Shayam Electronics
                          </mat-option>
                          <mat-option value="Employee 2">
                            Balaji Electronics
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Approval Status</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Show All
                          </mat-option>
                          <mat-option value="Employee 2">
                            Approved
                          </mat-option>
                          <mat-option value="Employee 2">
                            Pending
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="inp-1-of-5">
                    <label class="label">Linked Dealer Also</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Yes
                          </mat-option>
                          <mat-option value="Employee 2">
                            No
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-12 d-flex justify-content-end">
                  <button matRipple class="btn btn-reset me-2">Reset</button>
                  <button matRipple class="btn btn-submit">Search</button>
              </div>
              </div>
              </div>
          </div>
      </div>
  </div>
    <div class="row mb-3">
      <div class="col-md-12 p-0">
        <div class="card card--common">
          <div class="zonal-table">
            <div class="d-flex zonal-result justify-content-between">
              <div class="d-flex align-items-center justify-content-center result-chips">
                <div class="zonal-result-chip d-flex align-items-center justify-content-center">
                  <p>Total Search Result:</p>
                   <span>1</span>
                </div>
                <div class="zonal-result-chip d-flex align-items-center justify-content-center">
                  <p>Total Area Distributor tagged with GPS:</p>
                   <span>5</span>
                </div>
                <div class="zonal-result-chip d-flex align-items-center justify-content-center">
                  <p>Total Area Distributor without GPS tagging:</p>
                   <span>0</span>
                </div>
              </div>
              <div class="view-change">
                View: 
                <span 
                  (click)="changeView('g')" 
                  [ngClass]="contentView == 'g' ? 'active':''"
                  ><img src="assets/images/card-view.svg" alt="">
                </span> 
                  <span  
                    [ngClass]="contentView == 'l' ? 'active':''" 
                    (click)="changeView('l')"
                    ><img src="assets/images/table-view.svg" alt="">
                  </span>
              </div>
            </div>
            <ng-container *ngIf="contentView == 'g'">
              <div class="row">
                <div class="col-md-3 mb-4" *ngFor="let item of [1,2,3,4,5]">
                  <div class="card card--grid">
                    <button class="btn btn--action btn--flat btn--card-action position-absolute" [matMenuTriggerFor]="menu">
                      <img src="assets/images/action.svg">
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                          <i class="material-icons">edit</i>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item>
                          <i class="material-icons">delete</i>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                    <div class="thumbnail mb-3">
                      <img src="../../../../../assets/images/user.png">
                    </div>
                    <h4 class="mb-2">Excel Telecom Private Limited</h4>
                    <ul class="mb-2 card-chip">
                      <li>V5022</li>
                      <li class="success">Approved</li>
                    </ul>
                    <p class="mb-4">Thane-Maharastra</p> 
                    <ul class="card_action">
                      <li>Attendance</li>
                      <li (click)="goViewEmployee()">View Profile</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>
            
            <ng-container *ngIf="contentView == 'l'">
              <div class="zonal-table-header d-flex">
                <div class="sr-no d-flex align-items-center">
                  <section class="example-section">
                    <mat-checkbox class="example-margin">SR. No.</mat-checkbox>
                  </section>
                </div>
                <div class="zonal-name d-flex align-items-center">
                  <label>Area Distributor Name</label>
                </div>
                <div class="zonal-region d-flex align-items-center">
                  <label for="">Region</label>
                </div>
                <div class="zonal-city d-flex align-items-center">
                  <label for="">City</label>
                </div>
                <div class="zonal-contact d-flex align-items-center">
                  <label for="">Contact Details</label>
                </div>
                <div class="zonal-action d-flex align-items-center">
                  <label for="">Action</label>
                </div>
              </div>
              <div *ngFor="let item of [1,2,3,4,5]; let i = index">
                <div class="zonal-table-row">
                  <div class="d-flex">
                    <div class="sr-no d-flex align-items-center">
                      <section class="example-section">
                        <mat-checkbox class="example-margin">{{i + 1}}</mat-checkbox>
                      </section>
                    </div>
                    <div class="zonal-name d-flex align-items-center">
                      <div>
                        <img src="../../../../../assets/images/user.png">
                      </div>
                      <div>
                        <p (click)="goViewEmployee()" style="cursor: pointer;">Excel Telecom Private Limited</p>
                        <div>
                          <span>V5022</span>
                          <span>Approved</span>
                        </div>
                      </div>
                    </div>
                    <div class="zonal-region d-flex align-items-center">
                      <span>West Maharastra</span>
                    </div>
                    <div class="zonal-city d-flex align-items-center">
                      <span>Maharastra</span>
                    </div>
                    <div class="zonal-contact d-flex align-items-center">
                      <span>Shree Mangalmurti Complex, Shop No.06, 90 Feet Road, Thakurli, Thane</span>
                    </div>
                    <div class="zonal-action d-flex align-items-center justify-content-center">
                      <button class="btn btn--action btn--flat" [matMenuTriggerFor]="menu">
                        <img src="assets/images/action.svg">
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <i class="material-icons">edit</i>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <i class="material-icons">delete</i>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </div>
                <div class="d-flex visit-status">
                  <p>Added On: <span></span><span>03-April-2023</span></p>
                  <p>Last visited by <span>Vinod Tiwari</span> on <span>30-Jan-2023, 10:50 AM</span></p>
                </div>
              </div>              
            </ng-container>
            
          </div>
        </div>
      </div>
    </div>
</div>