<div class="notification d-flex">
    <div class="notification-title d-flex justify-content-center align-items-center">
        <span>Notification</span>
    </div>
    <div class="notification-detail d-flex align-items-center">
        <marquee class="d-flex align-items-center" loop width="100%" direction="left" height="40px" behavior="scroll">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt orci ante, eget condimentum quam</span>
        </marquee>
    </div>
</div>