@import '../mixins';
@import '../variables';

.side-menu {
    width: 300px;
    padding-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
    transition: all ease-in-out 0.1s;
    position: fixed;
    &.closed {
        width: 68px;
        overflow: hidden;
        transition: all ease-in-out 0.1s;
    }
}

.main-content {
    width: 100%;
    padding: 80px 20px 20px;
    padding-left: 320px;
    padding-bottom: 40px;
}

.notification-wrapper {
    overflow: hidden;
    border-radius: 5px;
}

.side-menu.closed {
    & + .main-content {
        padding-left: 80px;
    }
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background: #f8f8f8;
    // background: red;
    position: fixed;
    bottom: 0;
    width: calc(100% - 300px);
    padding-right: 0;
    right: 0;
    padding: 10px;
    transition: all ease-in-out 0.1s;
    &.closed {
        width: calc(100% - 68px);
        transition: all ease-in-out 0.1s;
    }
    p {
        font-size: 12px;
        color: $gray;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        li {
            font-size: 12px;
            color: $gray;
            &:not(:last-child) {
                margin-right: 20px;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    right: -13px;
                    background: $gray;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
            }
            &:hover {
                color: #000000;
                cursor: pointer;
            }
        }
    }
}
