<ng-container *ngIf="shoudlShowHeader; else noHeader">
    <app-header (menu)="toggleMenu($event)" [toggleValue]="menuToggler"></app-header>
<div class="parent-container d-flex">
<div class="side-menu" [ngClass]="menuToggler ? 'opened':'closed'">
    <app-side-menu [toggleValue]="menuToggler"></app-side-menu>
</div>
<div class="main-content">
    <div class="notification-wrapper mb-3">
        <app-notification></app-notification>
    </div>
    <router-outlet></router-outlet>
</div>
</div>

</ng-container>

<ng-template #noHeader>
    <router-outlet></router-outlet>
</ng-template>

