@import '../../../../../mixins';
@import '../../../../../variables';

.configure{
    border: 1px solid $border;
    border-radius: 5px;
}
.content{
    background-color: $light;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding-bottom: 20px;
    &-header{
        background-color: #eeeeee;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 25px;
        font-size: $text-xl;
        font-weight: 500;
    }
}
.configure-toggle{
    border: 1px solid $border;
}

.table {
    &--common {
        thead {
            tr {
                th{
                    background: #E2E2E2;
                }
            }
        }
        tbody {
            tr {
                &:nth-child(odd) {
                    td {
                        background: $light;
                    }
                }
                &:nth-child(even) {
                    td {
                        background: #F3F3F3;
                    }
                }
            }
        }
    }
}

.file-upload{
    border: 1px solid $border;
    border-radius: 5px;
    padding: 15px;
    .upload-img{
        background-color: $secondary;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .upload-content{
        margin-left: 20px;
        width: calc(100% - 50px);
        h2{
            margin-bottom: 5px;
            font-size: 16px;
        }
        p{
            font-size: 12px;
            color: #6d6d6d;
            letter-spacing: 1px;
            margin: 0;
        }
    }
}

.multiple-section{
    border: 1px solid $border;
    border-radius: 5px;
    span{
        top:-12px;
        background-color: $light;
        padding: 0 8px;
    }
    i{
        color: blue;
        font-size: $text-base;
        margin-left: 10px;
    }
}

.gst-section-radio{
    label{
        font-size: $text-xs;
        margin-left: 5px;
    }
}
