@import '../../../mixins';
@import '../../../variables';

.stock{
    width: 700px;
    min-height: 400px;
    .title{
        h2{
            font-size: $text-base;
            margin-bottom: 15px;
        }
    }
    .tabs{
        margin-bottom: 20px;
        gap: 15px;
        .btn{
            background-color: #FFFAEA;
            width: 50%;
            height: 90px;
            .sms-img{
                background-color: $light;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                img{
                    width: 30px;
                }
            }
            span{
                color: #6D6D6D;
                font-size: $text-sm;
            }
            p{
                font-weight: 600;
                font-size: $text-base;
            }
        }
    }
    .selectUser{
        p{
            font-size: $text-base;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .user-list{
            margin-bottom: 10px;
            .user{
                border: 1px solid $border;
                border-radius: 10px;
                width: 100%;
                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
        }
    }
}