<div class="stock p-3">
    <div class="title">
        <h2>Send login details - #2 mobile kuthuparamha </h2>
    </div>
    <div class="tabs d-flex">
        <button class="btn d-flex align-items-center">
            <div class="sms-img d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/sms.svg">
            </div>
            <div class="d-flex justify-content-center flex-column align-items-start">
                <span>Send on SMS</span>
                <p class="m-0">9988776655</p>
            </div>
        </button>
        <button class="btn d-flex align-items-center">
            <div class="sms-img d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/mail.svg">
            </div>
            <div class="d-flex justify-content-center flex-column align-items-start">
                <span>Send on Email</span>
                <p class="m-0">dummy@gmail.com</p>
            </div>
        </button>
    </div>
    <div class="selectUser">
        <p>Send login credentials to below selected mapped user also</p>
        <div class="user-list d-flex flex-column">
            <div class="user"><mat-checkbox class="example-margin">Mahesh (98XXXXXX65)</mat-checkbox></div>
            <div class="user"><mat-checkbox class="example-margin">Ram (98XXXXXX65)</mat-checkbox></div>
            <div class="user"><mat-checkbox class="example-margin">Sohan (98XXXXXX65)</mat-checkbox></div>
            <div class="user"><mat-checkbox class="example-margin">Rakesh (98XXXXXX65)</mat-checkbox></div>
            <div class="user"><mat-checkbox class="example-margin">Mukesh (98XXXXXX65)</mat-checkbox></div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" (click)="toClose()">Close</button>
    </div>
</div>