<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>View Area</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">View Area</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title d-flex justify-content-between">
                    <h4 class="mb-0">Search By</h4>
                    <button class="btn icon icon-edit" (click)="showHide()">
                        <img src="../../../../../assets/images/arrow-down.svg" [ngClass]="hideValue ? '' : 'rotateIcon'">
                    </button>
                </div>
                <div class="card__body filter" [ngClass]="hideValue ? 'filterHide' : ''">
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Region</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">East</mat-option>
                                    <mat-option value="Employee 2">West</mat-option>
                                    <mat-option value="Employee 2">North</mat-option>
                                    <mat-option value="Employee 2">South</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Branch</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Faridabad
                          </mat-option>
                          <mat-option value="Employee 2">
                            Gurgaon
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Area</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Faridabad
                          </mat-option>
                          <mat-option value="Employee 2">
                            Gurgaon
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row configure">
        <div class="card__body">
            <p>Total Search Result: 5</p>
            <table class="table table--common">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Area Name</th>
                        <th>Region</th>
                        <th>Branch</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10], let i=index">
                        <td>{{i + 1}}</td>
                        <td>Faridabad</td>
                        <td>North</td>
                        <td>Faridabad</td>
                        <td>
                            <div class="d-flex justify-content-center" style="gap: 10px;">
                                <button class="btn icon icon-edit"><i class="material-icons">edit</i></button>
                                <button class="btn icon icon-delete"><i class="material-icons">delete</i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>