@import '../../../mixins';
@import '../../../variables';
.side-nav{
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: all ease-in-out 0.5s;
    &--sm {
        transition: all ease-in-out 0.5s;
        width: 68px;
    }
    .nav-header{
        background-color: $primary;
        height: 60px;
        padding: 0 15px;
        h3{
            font-size: 20px;
            margin: 0;
            font-weight: 500;
        }
        img{
            display: none;
        }
    }
    .menubar{
        background-color: $gray-900;
        ul{
            li{
                &:not(:last-child) {
                    // margin-bottom: 10px;
                }
                a{
                    padding: 20px 20px;
                    border-bottom: 1px solid rgb(238 238 238 / 12%);
                    border-top: 1px solid rgb(238 238 238 / 12%);
                    img{
                        width: 17px;
                        height: 17px;
                        &.dropdown-arrow {
                            width: 6px;
                            height: auto;
                            &.opened {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    span{
                        color: $light;
                        font-size: $text-base;
                        transition: opacity ease-in-out 0.1s;
                    }
                    &:hover {
                        background:#404759;
                        span {
                            color: $light;
                        }
                    }
                }
            }
            &.sub-menu {
                padding-left: 0;
                background-color: rgb(238 238 238 / 12%);
                max-height: 0;
                transition: max-height 0.5s ease-in-out;
                overflow: hidden;
                position: relative;
                // padding-top: 10px;
                // padding-bottom: 10px;
                &.opened {
                    max-height: 1000px;
                    transition: max-height 0.5s ease-in-out;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 100%;
                    background: #5c6782;
                    position: absolute;
                    left: 30px;
                    z-index: 1;
                }
                li {    
                    // &:not(:last-child) {
                    //     margin-bottom: 5px;
                    // }
                    padding: 15px 10px 15px 50px;
                    font-size: $text-sm;
                    position: relative;
                    list-style: none;
                    color: $light;
                    cursor: pointer;
                    &::before {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 10px;
                        background: #5c6782;
                        position: absolute;
                        left: 26px;
                        top: 50%;
                        border-radius: 50%;
                        transform: translateY(-50%);
                        z-index: 2;
                    }
                    &:hover {
                        background:rgb(238 238 238 / 20%);
                        &::before {
                            background: $primary;
                        }
                    }
                }
            }
        }
    }
}

.menu-icon {
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    margin-right: 10px;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $gray-900;
    border-radius: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(144, 150, 163); 
    border-radius: 0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary; 
  }