@import '../../../mixins';
@import '../../../variables';
.side-nav{
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: all ease-in-out 0.5s;
    &--sm {
        transition: all ease-in-out 0.5s;
        width: 68px;
    }
    .nav-header{
        background-color: $primary;
        height: 60px;
        padding: 0 15px;
        h3{
            font-size: 20px;
            margin: 0;
            font-weight: 500;
        }
        img{
            display: none;
        }
    }
    .menubar{
        background-color: #fff;
        ul{
            li{
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                a{
                    padding: 10px 20px;
                    img{
                        width: 17px;
                        height: 17px;
                        &.dropdown-arrow {
                            width: 6px;
                            height: auto;
                            &.opened {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    span{
                        color: #6D6D6D;
                        font-size: $text-base;
                        transition: opacity ease-in-out 0.1s;
                    }
                    &:hover {
                        background: rgb(255 201 21 / 10%);
                        span {
                            color: $dark;
                        }
                    }
                }
            }
            &.sub-menu {
                padding-left: 26px;
                max-height: 0;
                transition: max-height 0.5s ease-in-out;
                overflow: hidden;
                &.opened {
                    max-height: 1000px;
                    transition: max-height 0.5s ease-in-out;
                }
                li {    
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                    padding: 4px 10px 4px 30px;
                    font-size: $text-sm;
                    position: relative;
                    list-style: none;
                    &::before {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: $dark;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

.menu-icon {
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    margin-right: 10px;
}