<div class="side-nav">
    <div class="menubar">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of menuItems">
                <a class="nav-link d-flex justify-content-between" href="#">
                    <div class="d-flex">
                        <div class="menu-icon">
                            <img [src]="item?.icon">
                        </div>
                        <span>{{item?.name}}</span>
                    </div>
                    <div *ngIf="item.dropDown?.length">
                        <img src="assets/images/arrow-right.svg">
                    </div>
                </a>
                <ul *ngIf="item.dropDown?.length" class="sub-menu">
                    <li *ngFor="let subMenu of item.dropDown">
                        {{subMenu.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>