@import '../../../../../mixins';
@import '../../../../../variables';

.zonal-table{
    padding: 20px;
}
.zonal-table{
    &-header{
        padding: 0 20px;
        border-radius: 5px 5px 0 0;
        height: 50px;
        background-color: #FFE89D;
        font-weight: 500;
    }
    &-row{
        padding: 20px;
        border-radius: 5px;
        height: 120px;
        background-color: #FFFAEA;
        p{
            font-size: $text-sm;
            margin: 0;
            color: #1c1c1c;
                &:first-child{
                    span{
                        color: #B18903;
                    }
                }
                &:not(:first-child){
                    span{
                        font-weight: 500;
                    }
                }
        }
        span{
            font-size: $text-sm;
        }
    }
}
.visit-status{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #F9F2DB;
    padding: 0 20px;
    margin-bottom: 5px;
    p{
        margin: 0;
        font-size: $text-sm;
        &:last-child{
            margin-left: 30px;
        }
        span{
            &:first-child{
                color: #B18903;
            }
            &:last-child{
                font-weight: 500;
            }
        }
    }
}



  


  .send{
    text-decoration: underline;
    color: #B18903;
  }
  .recreate{
    text-decoration: underline;
    color: #1C1C1C;
  }
.sync-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 32%);
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: rgb(33, 111, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(180deg) !important;
  transition: all ease-in-out 1s;
  &:hover {  
    animation: rotate 5s linear infinite;
  }
  i {
    font-size: 30px;
    color: $light;
    pointer-events: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn{
    &-settlement{
        color: $light;
        background-color: #15CE40;
    }
    &-scheme{
        color: $light;
        background-color: #5E7EFF;
    }
}
