<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>View Targets</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">View Targets</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title d-flex justify-content-between">
                    <h4 class="mb-0">Filter</h4>
                    <button class="btn icon icon-edit" (click)="showHide()">
                        <img src="../../../../../assets/images/arrow-down.svg" [ngClass]="hideValue ? '' : 'rotateIcon'">
                    </button>
                </div>
                <div class="card__body filter" [ngClass]="hideValue ? 'filterHide' : ''">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Employee Name</label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Target Year</label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Target Month</label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Default Target</label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        <label class="label">Status</label>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Employee 1</mat-option>
                                    <mat-option value="Employee 2">Employee 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button matRipple class="btn btn-reset me-2">Reset</button>
                        <button matRipple class="btn btn-submit">Search</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3 p-0">
            <div class="card card--common">
                <div class="card__title d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Target For February 2023</h4>
                    <button class="btn btn-success excel-btn"> <img src="../../../../../assets/images/excel.svg"> Excel</button>
                </div>
                <div class="row m-0">
                    <div class="card__body">
                        <table class="table table--common">
                            <thead>
                                <tr>
                                    <th rowspan="2">S.NO</th>
                                    <th rowspan="2" style="text-align: center;">Employee Name</th>
                                    <th style="width: 100px; text-align: center;">Target</th>
                                    <th colspan="4" style="text-align: center;">Total</th>
                                    <th colspan="4" style="text-align: center;">Zonal Distributor</th>
                                    <th colspan="4" style="text-align: center;">Area Distributor</th>
                                    <th colspan="4" style="text-align: center;">Retailer</th>
                                    <th rowspan="2" style="text-align: center;">Action</th>
                                </tr>
                                <tr>
                                    <th>Mar-2023</th>
                                    <th>Visits</th>
                                    <th>Sales</th>
                                    <th>Collection</th>
                                    <th>New</th>
                                    <th>Visits</th>
                                    <th>Sales</th>
                                    <th>Collection</th>
                                    <th>New</th>
                                    <th>Visits</th>
                                    <th>Sales</th>
                                    <th>Collection</th>
                                    <th>New</th>
                                    <th>Visits</th>
                                    <th>Sales</th>
                                    <th>Collection</th>
                                    <th>New</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let item of [1,2,3,4,5], let i=index">
                                    <td style="text-align: center;">{{i + 1}}</td>
                                    <td style="text-align: center;">Faridabad</td>
                                    <td style="text-align: center;">North</td>
                                    <td style="text-align: center;">North</td>
                                    <td style="text-align: center;">North</td>
                                    <td style="text-align: center;">North</td>
                                    <td style="text-align: center;">North</td>
                                    <td style="text-align: center;">
                                        <button class="btn btn--action btn--flat" [matMenuTriggerFor]="menu">
                                            <img src="assets/images/action.svg">
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>
                                                <i class="material-icons">edit</i>
                                              <span>Edit</span>
                                            </button>
                                            <button mat-menu-item>
                                                <i class="material-icons">delete</i>
                                              <span>Delete</span>
                                            </button>
                                          </mat-menu>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td style="text-align: center;" colspan="20">No Record Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



