@import '../../../../../mixins';
@import '../../../../../variables';

.heading{
    h2{
        font-size: $text-lg;
        margin: 0;
    }
    .breadcrumb{
        li{
            font-size: $text-sm;
        }
    }
}
.btn-download{
    background: $secondary;
    border-color: $secondary;
    color: $dark;
    &:hover,&:focus {
        background: darken($color: $secondary, $amount: 10%);
        border-color: darken($color: $secondary, $amount: 10%);
    }
    font-size: 12px;
    width: 160px;
    height: 40px;
    margin-left: 10px;
    img{
        margin-right: 10px;
    }
}
.file-upload{
    border: 1px solid $border;
    border-radius: 5px;
    padding: 15px;
    .upload-img{
        background-color: $secondary;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .upload-content{
        margin-left: 20px;
        width: calc(100% - 50px);
        h2{
            margin-bottom: 5px;
            font-size: 16px;
        }
        p{
            font-size: 12px;
            color: #6d6d6d;
            letter-spacing: 1px;
            margin: 0;
        }
    }
}

.table {
    &--common {
        thead {
            tr {
                th{
                    background: #E2E2E2;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 10px 0 !important;
                    border: 1px solid rgb(171, 170, 170);
                    text-align: center;
                    border-top: none;
                }
            }
        }
        tbody {
            tr {
                &:nth-child(odd) {
                    td {
                        background: $light;
                    }
                }
                &:nth-child(even) {
                    td {
                        background: #F3F3F3;
                    }
                }
            }
        }
    }
}