<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>View Employee Leaves</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">View Employee Leaves</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title d-flex justify-content-between">
                    <h4 class="mb-0">Search By</h4>
                    <button class="btn icon icon-edit" (click)="showHide()">
                        <img src="../../../../../assets/images/arrow-down.svg" [ngClass]="hideValue ? '' : 'rotateIcon'">
                    </button>
                </div>
                <div class="card__body filter" [ngClass]="hideValue ? 'filterHide' : ''">
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Employee Name</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Mohan
                          </mat-option>
                          <mat-option value="Employee 2">
                            Ram
                          </mat-option>
                          <mat-option value="Employee 2">
                            Shayam
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Week/Month</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Week
                          </mat-option>
                          <mat-option value="Employee 2">
                            Month
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row configure">
        <div class="card__body">
            <table class="table table--common">
                <thead>
                    <tr>
                        <th>Employee<br>(Emp.ID)</th>
                        <th style="text-align: center;">Monday<br>20 March 2023</th>
                        <th style="text-align: center;">Tuesday<br>21 March 2023</th>
                        <th style="text-align: center;">Wednesday<br>22 March 2023</th>
                        <th style="text-align: center;">Thursday<br>23 March 2023</th>
                        <th style="text-align: center;">Friday<br>24 March 2023</th>
                        <th style="text-align: center;">Saturday<br>25 March 2023</th>
                        <th style="text-align: center;">Sunday<br>26 March 2023</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mohan<br>(FOS2790)</td>
                        <td style="text-align: center;">-</td>
                        <td style="text-align: center;">-</td>
                        <td style="text-align: center;">-</td>
                        <td style="text-align: center;">Pending</td>
                        <td style="text-align: center;">-</td>
                        <td style="text-align: center;">-</td>
                        <td style="text-align: center;">-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>