<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>View Dealer</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">View Dealer</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Filter</h4>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Dealer Type</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Type 1
                          </mat-option>
                          <mat-option value="Employee 2">
                            Type 2
                          </mat-option>
                          <mat-option value="Employee 1">
                            Type 3
                          </mat-option>
                          <mat-option value="Employee 2">
                            Type 4
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Dealer Name</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Branch Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Dealer Code</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Branch Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Login Status</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            In
                          </mat-option>
                          <mat-option value="Employee 2">
                            Out
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Source</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            V5022
                          </mat-option>
                          <mat-option value="Employee 2">
                            V5022
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Pre Booking</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">Yes</mat-option>
                                    <mat-option value="Employee 2">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="zonal-table">             
                    <div class="zonal-table-header d-flex justify-content-between align-items-center">
                        <div style="width: 6%;">S.No</div>
                        <div style="width: 22%;">Dealer Name (Code)</div>
                        <div style="width: 10%;">Dealer Type</div>
                        <div style="width: 15%;">Address</div>
                        <div style="width: 18%;">Contact Details</div>
                        <div style="width: 15%;">Contact Details</div>
                        <div style="width: 6%;">Login Allowed</div>
                    </div>
                    <div *ngFor="let item of [1,2,3], let i = index">
                        <div class="zonal-table-row d-flex justify-content-between">
                            <div style="width: 6%;"><span>1</span></div>
                            <div class="dealer-name" style="width: 22%;">
                                <p class="mb-3">Ambica Electronics and mobile shop <span>(IND12345)</span></p>
                                <p>Web Login: <span>03-April-2021</span></p>
                                <p>Created at: <span>03-April-2021, 11:30 PM</span></p>
                                <p>Source <span>API</span></p>
                                <p>Zonal Distributor (API): <span>V5026</span></p>
                                <p>Area Distributor (API): <span>V5026</span></p>
                                <p>Linking Available: <span>V5026</span></p>
                            </div>
                            <div style="width: 10%;"><span>Retailer</span></div>
                            <div style="width: 15%;"><span>Shree Mangalmurti Complex,<br>Shop No.06, <br>90 Feet Road,<br> Thakurli, Thane</span></div>
                            <div style="width: 18%;"><span>chiragpatel@gmail.com<br> 9999999999</span></div>
                            <div style="width: 15%;"><span>Chirag kumar patel</span></div>
                            <div style="width: 6%;">
                                <div class="checkbox-wrapper">
                                    <label class="switch" for="{{i + 1}}">
                                        <input type="checkbox" id="{{i + 1}}">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex visit-status justify-content-end">
                            <button class="btn btn-success me-2" (click)="showLogin()">Connect Dealers</button>
                            <button class="btn btn-info me-2" (click)="showLinkDevice()">Linked Devices</button>
                            <button class="btn btn-warning" (click)="showStock()">View Stock</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>