@import '../../../../../mixins';
@import '../../../../../variables';

.zonal-table{
    padding: 20px;
}
.zonal-table{
    &-header{
        padding: 0 20px;
        border-radius: 5px 5px 0 0;
        height: 50px;
        background-color: #FFE89D;
        font-weight: 500;
    }
    &-row{
        padding: 20px;
        border-radius: 5px;
        height: 250px;
        background-color: #FFFAEA;
        p{
            font-size: $text-sm;
            margin: 0;
            color: #1c1c1c;
                &:first-child{
                    span{
                        color: #B18903;
                    }
                }
                &:not(:first-child){
                    span{
                        font-weight: 500;
                    }
                }
        }
        span{
            font-size: $text-sm;
        }
    }
}
.visit-status{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #F9F2DB;
    padding: 0 20px;
    margin-bottom: 5px;
    p{
        margin: 0;
        font-size: $text-sm;
        &:last-child{
            margin-left: 30px;
        }
        span{
            &:first-child{
                color: #B18903;
            }
            &:last-child{
                font-weight: 500;
            }
        }
    }
}



  .checkbox-wrapper .switch {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 50px;
  }

  .checkbox-wrapper .switch input {
    display:none;
  }

  .checkbox-wrapper .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
  }

  .checkbox-wrapper input:checked + .slider {
    background-color: #66bb6a;
  }

  .checkbox-wrapper input:checked + .slider:before {
    transform: translateX(22px);
  }

  .checkbox-wrapper .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper .slider.round:before {
    border-radius: 50%;
  }

