<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>View Employee Wallet</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">View Employee Wallet</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title d-flex justify-content-between">
                    <h4 class="mb-0">Search By</h4>
                    <button class="btn icon icon-edit" (click)="showHide()">
                        <img src="../../../../../assets/images/arrow-down.svg" [ngClass]="hideValue ? '' : 'rotateIcon'">
                    </button>
                </div>
                <div class="card__body filter" [ngClass]="hideValue ? 'filterHide' : ''">
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Employee Name</label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                          <mat-option value="Employee 1">
                            Employee 1
                          </mat-option>
                          <mat-option value="Employee 2">
                            Employee 2
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row configure">
        <div class="card__body">
            <div class="d-flex align-items-center justify-content-between">
                <p>Total Search Results: 5</p>
                <button class="btn btn-success excel-btn"> <img src="../../../../../assets/images/excel.svg"> Excel</button>
            </div>
            <table class="table table--common">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Employee Name<br>(ID)</th>
                        <th>Region<br>(Branch)</th>
                        <th>Mobile</th>
                        <th>Ledger Balance</th>
                        <th>Detail</th>
                        <th>Payment Entry</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,2,3], let i=index">
                        <td>{{i + 1}}</td>
                        <td>Ram<br>(FOS1456)</td>
                        <td>South<br>(Telangana)</td>
                        <td>8854698547</td>
                        <td>INR 0</td>
                        <td><a href="#">View Details</a></td>
                        <td><a href="#">Add Entry</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>