<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading">
            <h2>Add Zonal Distributor</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a>Home</a></li>
                  <li class="breadcrumb-item active">Add Zonal Distributor</li>
                </ol>
              </nav>
        </div>
        <div class="col-md-12 content">
            <mat-tab-group>
                <mat-tab label="General Info" class="px-2">
                    <div class="row m-0 mt-3 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Zonal Distributor Name<span class="mandatory">*</span></label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Zonal Distributor Nick Name</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Zonal Distributor Code<span class="mandatory">*</span></label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Region<span class="mandatory">*</span></label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    East
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    West
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    North
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    South
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Branch</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Faridabad
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Gurgaon
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column" >
                            <label class="label">Area Name</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">
                                        Faridabad
                                      </mat-option>
                                      <mat-option value="Employee 2">
                                        Gurgaon
                                      </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Sub Category</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Sub Category 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Sub Category 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Category</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Category 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Category 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Address</label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Country</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    India
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Japan
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">State</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Haryana
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Rajasthan
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">District</label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column" >
                            <label class="label">City</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">
                                        Faridabad
                                      </mat-option>
                                      <mat-option value="Employee 2">
                                        Gurgaon
                                      </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column" >
                            <label class="label">City Class</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">
                                        Metro
                                      </mat-option>
                                      <mat-option value="Employee 2">
                                        Non-Metro
                                      </mat-option>
                                      <mat-option value="Employee 2">
                                        Sub-Metro
                                      </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Pin Code</label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">GPS Location</label>
                            <div class="d-flex" style="gap: 10px;">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput placeholder="Latitude">
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput placeholder="Longitude">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column" >
                            <label class="label">Approval Status</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option value="Employee 1">
                                        Approved
                                      </mat-option>
                                      <mat-option value="Employee 2">
                                        Pending
                                      </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Remarks</label>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 pb-3 px-2">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Save</button>
                        </div>
                    </div>
                </mat-tab>



                <mat-tab label="Contact & Other Info">
                    <div class="row m-0 mt-3 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Telephone</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width"  appearance="outline">
                                        <input matInput placeholder="CD">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width"  appearance="outline">
                                        <input matInput placeholder="STD">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width"  appearance="outline">
                                        <input matInput placeholder="Phone">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Mobile Number</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width"  appearance="outline">
                                        <input matInput placeholder="ISD">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width"  appearance="outline">
                                        <input matInput placeholder="Mobile">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Email-id</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input type="text" matInput placeholder="Ex. pat@example.com">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Website</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Contact Person</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Super Zonal Distributor Linked Code</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Validity</label>
                            <div class="d-flex">
                                <mat-form-field class="example-full-width me-2"  appearance="outline">
                                    <input matInput placeholder="From">
                                </mat-form-field>
                                <mat-form-field class="example-full-width"  appearance="outline">
                                    <input matInput placeholder="To">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Payment Terms</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Assigned To</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Assoc. With Spl. Product Price</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Yes
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    No
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Member of Beat / Route Plan</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Noida
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Jaipur
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 pb-3 px-2">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button class="btn btn-reset me-2">Reset</button>
                            <button class="btn btn-submit">Save</button>
                        </div>
                    </div>
                </mat-tab>


                <mat-tab label="Company Details">
                    <div class="row m-0 mt-3 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">Company Type</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Proprietor
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Partnership
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 px-2">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">GST No.</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">PAN</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label">TAN</label>
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0 px-2 pb-3">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button class="btn btn-reset me-2">Reset</button>
                            <button class="btn btn-submit">Save</button>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>