@import '../../../../../mixins';
@import '../../../../../variables';

.heading{
    h2{
        font-size: $text-lg;
        margin: 0;
    }
    .breadcrumb{
        li{
            font-size: $text-sm;
        }
    }
}
.content{
    background-color: $light;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding:0;
}

::ng-deep{
    
}

.label{
    margin-bottom: 5px;
}
.menu-btn{
    width: 50px;
    height: 35px;
    font-size: $text-sm;
    padding: 0;
    margin-right: 5px;
    border: 1px solid $border;
}

