<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading">
            <h2>Add Zonal Distributor</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Add Zonal Distributor</li>
                </ol>
              </nav>
        </div>
        <div class="col-md-12 content">
            <mat-tab-group>
                <mat-tab label="General Info">
                    <div class="row m-0 mt-3">
                        <div class="col-md-4 d-flex flex-column">
                            <label>Site Name</label>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label>Attendance Latitude</label>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label>Attendance Longitude</label>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-4 d-flex flex-column">
                            <label>Attendance Radius* (In Meter)</label>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label>Attendance Site Away Alert Distance</label>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column" >
                            <label>Employee</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Employee</mat-label>
                                <mat-select>
                                  <mat-option>
                                    Employee 1
                                  </mat-option>
                                  <mat-option>
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-4 d-flex flex-column">
                            <label>Selected Employee</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Employee</mat-label>
                                <mat-select>
                                  <mat-option>
                                    Employee 1
                                  </mat-option>
                                  <mat-option>
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label>Send SMS to Concern Person</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Employee</mat-label>
                                <mat-select>
                                  <mat-option>
                                    Employee 1
                                  </mat-option>
                                  <mat-option>
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label>Remarks</label>
                            <mat-form-field class="example-full-width " appearance="outline">
                                <input matInput placeholder="Site Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-12">
                            <button class="btn">Reset</button>
                            <button class="btn">S</button>
                        </div>
                    </div>
                </mat-tab>



                <mat-tab label="Contact & Other Info"> Content 2 </mat-tab>
                <mat-tab label="Company Details"> Content 3 </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>