<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading p-0">
            <h2>View Branch</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">View Branch</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 p-0">
            <div class="card card--common">
                <div class="card__title">
                    <h4 class="mb-0">Search By</h4>
                </div>
                <div class="card__body">
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Region</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Employee 1">
                                    Employee 1
                                  </mat-option>
                                  <mat-option value="Employee 2">
                                    Employee 2
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Branch Name</label>
                    <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Branch Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Branch Code</label>
                    <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Branch Code">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Email Id</label>
                    <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="Email Id">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">City</label>
                    <mat-form-field class="example-full-width"  appearance="outline">
                                <input matInput placeholder="City">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <label class="label">Status</label>
                            <mat-form-field appearance="outline">
                                <mat-select>
                                  <mat-option value="Show All">
                                    Show All
                                  </mat-option>
                                  <mat-option value="Active">
                                    Active
                                  </mat-option>
                                  <mat-option value="Inactive">
                                    Inactive
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button matRipple class="btn btn-reset me-2">Reset</button>
                            <button matRipple class="btn btn-submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row configure">
        <div class="card__body">
            <p>Total Search Result: 5</p>
            <table class="table table--common">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Branch Name</th>
                        <th>Code</th>
                        <th>Region</th>
                        <th>Contact Details</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,2,3,4,5], let i=index">
                        <td>{{i + 1}}</td>
                        <td>Faridabad</td>
                        <td>N/A</td>
                        <td>North</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td><span class="status">Active</span></td>
                        <td style="text-align: center;">
                            <button class="btn btn--action btn--flat" [matMenuTriggerFor]="menu">
                                <img src="assets/images/action.svg">
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <i class="material-icons">edit</i>
                                  <span>Edit</span>
                                </button>
                                <button mat-menu-item>
                                    <i class="material-icons">delete</i>
                                  <span>Delete</span>
                                </button>
                              </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>