
$font:'Poppins', sans-serif;
$menu-color:rgba(147, 13, 4, 0.9);

$font: 'Poppins', sans-serif;
$primary-200:#FFFAEA;
$primary:#FFC915;
$primaryHover: #c42419;
$iconColor: #DD3F32;
$light: #ffffff;
$light-gray: #eeeeee;
$dark: #1a1a1a;
$gray:#414141;
$gray1:#5f6368;
$gray-200:#F8F8F8;
$heading:#1a1a1a;
$success: #3D903F;
$red:#ff3b3b;
$primary-background: #00599f;
$afterBar:#d8d8d8;
$primary-light: #fff5fb;

$nxtgameBG:#aeaeae;

$cardBgGreen: #a3fabb21;
$cardBgRed2: #fc38380f;
$cardBgViolet2: #3f7ee829;
$cardBgRupee: rgba(245, 213, 71, 0.326);

$phone-landscape: 576px;

$text-2xs: 0.625rem;   // 10px
$text-xs: 0.75rem;     // 12px
$text-sm: 0.8rem;      // 14px
$text-base: 1rem;      // 16px
$text-lg: 1.125rem;    // 18px
$text-xl: 1.25rem;     // 20px
$text-2xl: 1.5rem;     // 24px
$text-time:2.8rem;     // 44.8px

$regular:400;
$semi-bold:500;
$bold:600;
$bolder:700;

$header-bg:$primary;



// $text-2xs:0.625rem; // 10px
// $text-sm:0.875rem; // 14px
// $text-base:1rem; // 16px;
// $text-lg:1.125rem; // 18px
// $text-xl:1.25rem; // 20px
// $text-2xl:1.5rem; // 24px

// $yellow:#f18300;
// $danger: #e4152d;






// $secondary:#4B2CAA;
// $link:#00599f;
// $primary-size: 12px;
// $primary-space: 16px;
// $primary-dark: #29487F;
// $light-theme: #E8F3FD;
// $background: #e7eff7;
// $border: #fafafa;
// $btn-bg-calender: #E4F3FF;
// $skyblue: #4FA7A5;
// $date: #9f9f9f;

// $phone-sm:360px;
// $phone: 480px;
// $tablet: 767px;
// $laptopview: 991px;
// $laptop: 1024px;
// $dekstop: 1280px;
// $large: 1360px;
// $fb:#4767AA;
// $insta: #6E55B2;
// $twitter: #50ABF1;
// $youtube: #FA423B;
// $linkedIn: #0077B5;
// $gray-title:#f9fafb;
// $gray-breadcrumb:#f9fafb;

// $font-light:'poppinslight';
// $font-regular:'poppinsregular';
// $font-medium:'poppinsmedium';
// $font-bold:'poppinsbold';
// $font-semibold:'poppinssemibold';
// $text-3xs:0.5rem; // 8px
// $text-xs:0.75rem; // 12px

// $text-3xl:1.75rem; // 28px
// $text-4xl:2.25rem; // 36px



// $primary: #ecc16b;
// $gray:#414141;
// $success: #3D903F;
// $light: #ffffff;
// $dark: #1a1a1a;

// $gray1:rgb(174, 174, 174);   // For Time Slot
// $parrot: #2ba24c;
// $disableParrot: #66b17b;
// $red: #e43e2b;
// $disableRed: #f27364;
// $light-gray: #eeeeee;



// $cardBgRed: #fc383826;
// $cardBgViolet: #6c5be042;



// $text-3xl: 1.625rem;   // 26px
// $text-4xl: 1.75rem;    // 28px


// $font48: 3rem;     //For Time Slot






