/* You can add global styles to this file, and also import other style files */
@import './mixins';
@import './variables';


html, body { height: 100%; }
body { margin: 0; font-family: $font; background: $gray-200; }

.btn {
    height: 40px;
    width: 100px;
    font-size: $text-sm;
    &-submit {
        background: $primary;
        border-color: $primary;
        color: $dark;
        &:hover,&:focus {
            background: darken($color: $primary, $amount: 10%);
            border-color: darken($color: $primary, $amount: 10%);
            color: $dark;
        }
        &:active{
            border-color:none ;
        }
    }
    &-reset {
        background: $secondary;
        border-color: $secondary;
        color: $dark;
        &:hover,&:focus {
            background: darken($color: $secondary, $amount: 10%);
            border-color: darken($color: $secondary, $amount: 10%);
        }
        &:active{
            border-color:none ;
        }
    }
    &--action {
        width: 30px;
        height: 30px;
        background: $primary-500;
        border-radius: 50%;
        padding: 0;
        &:hover {
            background: $primary-500;
        }
    }
    &--flat {
        width: 30px;
        height: 30px;
        background: none;
        border-radius: 50%;
        padding: 0;
        &:hover {
            background: none;
        }
    }
}

.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}

.text-base {
    font-size: $text-base;
}

.text-sm {
    font-size: $text-sm;
}

.text-lg {
    font-size: $text-lg;
}

.text-xl {
    font-size: $text-xl;
}

.text-dark {
    color: $dark;
}
.text-gray {
    color: $gray;
}

.text-white {
    color: $light;
}

 //mat tabs

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab{
    flex-grow: 0 !important;
}

.mat-mdc-menu-item {
    div[class*='mdc-list-item'],
    span[class*='mdc-list-item'] {
        display: flex;
        align-items: center;
        i {
            margin-right: 10px;
        }
    }
}

.card {
    &--common {
        overflow: hidden;
        border: none;
        box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 19%);
    }
    &__title {
        background:#e0e0e0;
        padding: 10px 15px;
        h4 {
            font-size: $text-base;
        }
    }
}

.table {
    &--common {
        font-size: $text-sm;
        td, th {
            vertical-align: middle;
        }
    }
}
  
.heading{
    h2{
        font-size: $text-lg;
        margin: 0;
    }
    .breadcrumb{
        li{
            font-size: $text-sm;
        }
    }
}


.mat-mdc-form-field-flex {
    height: 40px;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding: 6px 0px;
}
.mat-mdc-form-field {
    width: 100%;
}
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color: $dark !important;
}
.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
    border-color: $primary;
    border-width: 3px !important;
}
.mat-mdc-tab-labels{
    border-bottom: 1px solid $border;
}
.mat-mdc-form-field-subscript-wrapper {
    display: none;
}
.mat-mdc-form-field-infix{
    min-height: 40px;
}
.mat-mdc-text-field-wrapper {
    margin-bottom: 20px;
}
.label{
    margin-bottom: 3px;
    font-size: 14px;
}

.mat-mdc-text-field-wrapper {
    border: 1px solid #d3d3d3;
    border-radius: 5px !important;
}
.mdc-text-field--outlined .mdc-notched-outline {
    display: none;
}